<aside class="label-container is-pulled-right">
    <!-- label view inserted here -->
</aside>

<h5 class="title is-5">{{model.attributes.label}}</h5>

{{#unless properties}}
<i>No further details</i>
{{/unless}}
{{#each properties}}
<p>
    <b>{{@key}}: </b>{{this}}
</p>
{{/each}}
