<div class="control">
    {{! predicate picker }}
</div>
<div class="control is-expanded url-input">
    {{#if url}}
        <input class="input" type="url" value="{{url}}" required>
    {{/if}}
</div>
