<div class="control">
    {{! predicate picker }}
</div>
<div class="control is-expanded url-input">
    <input class="input" type="url" value="{{url}}" required>
</div>
<div class="control">
    <button type=button class="button is-danger remove">
         <span>Remove</span>
        <span class="icon is-small"><i class="fas fa-times"></i></span>
    </button>
</div>
