<div class="field has-addons">
    <p class="control">
        <input class="input" type="text" value="{{model.attributes.url}}">
    </p>
    <p class="control">
        <button type=button class="button is-danger remove">
             <span>Remove</span>
            <span class="icon is-small"><i class="fas fa-times"></i></span>
        </button>
    </p>
</div>