<div class="panel-header">
    <header>
        <h3 class="title is-3">{{#i18n 'external-resources-title'}}External resources{{/i18n}}</h3>
        <h6 class="subtitle is-6">{{#i18n 'for-item-serial'}}For item/{{itemSerial}}{{/i18n}}</h6>
    </header>
</div>
<div class="panel-content external">
    {{#each externalResources}}
        <h4>{{this.label}}</h4>
        {{#each this.urls}}
            <a href="{{this}}" target="_blank" rel="noopener noreferrer">
                {{this}}
            </a>
            <br>
        {{/each}}
    {{/each}}
</div>
<div class="panel-footer field is-grouped is-grouped-left">
    <div class="control">
        <button
            type=button
            class="button btn-edit"
        >{{#i18n 'edit'}}Edit{{/i18n}}</button>
    </div>
</div>
