<h5 class="title is-5">{{model.attributes.label}}</h5>
<div class="url-container">
{{! urls will be added here}}
</div>
<div class="field rit-add-external">
    <div class="control">
        <button type=button class="button add">
        <span>Add</span>
        <span class="icon is-small">
            <i class="fas fa-plus"></i>
        </span>
        </button>
    </div>
</div>