<div class="panel-header">
    <header>
        <aside>{{! label view will be inserted here }}</aside>
        <h3 class="title is-3">{{label}}</h3>
    </header>
</div>
<div class="panel-content">
    <section class="item-sections">
        <article class="item-section">
            <div class="item-section-header">
                <p>Properties</p>
            </div>
            <table class="table is-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each properties}}
                    <tr>
                        <td>{{@key}}</td>
                        <td>{{this}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </article>
    </section>

    <section>
        <div class="itemMetadataContainer"></div>
        <div class="annotationMetadataContainer"></div>
    </section>

    <section class="item-sections">
        <article class="item-section has-mt-10">
            <div class="item-section-header" id="btnRelItems">
                <p>Related items</p>
                <span class="icon is-large has-text-primary tooltip is-tooltip-left"
                    data-tooltip="Open related items">
                    <i class="fas fa-arrow-circle-right"></i>
                </span>
            </div>
        </article>
        <article class="item-section has-mt-10">
            <div class="item-section-header" id="btnAnnotations">
                <p>Annotations</p>
                <span class="icon is-large has-text-primary tooltip is-tooltip-left"
                    data-tooltip="Open annotations">
                    <i class="fas fa-arrow-circle-right"></i>
                </span>
            </div>
        </article>
        <article class="item-section has-mt-10">
            <div class="item-section-header" id="btnExtResources">
                <p>External resources</p>
                <span class="icon is-large has-text-primary tooltip is-tooltip-left"
                    data-tooltip="Open external resources">
                    <i class="fas fa-arrow-circle-right"></i>
                </span>
            </div>
        </article>
    </section>
</div>
<div class="panel-footer">
    <button class="button btn-edit">Edit</button>
</div>

