<p class="title is-3">Welcome Annotators!</p>

<table class="table">
    <tbody>
        <tr>
            <td>
                <div class="control">
                    <a class="button">
                        <span class="icon is-small">
                            <i class="far fa-file-alt"></i>
                        </span>
                        <span>Source1</span>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="control">
                    <a class="button">
                        <span class="icon is-small">
                            <i class="far fa-file-alt"></i>
                        </span>
                        <span>Source2</span>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="control">
                    <a class="button">
                        <span class="icon is-small">
                            <i class="far fa-file-alt"></i>
                        </span>
                        <span>Source3</span>
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div class="control">
    <a class="button is-info" id="add-new-button">
        <span class="icon is-small">
            <i class="fas fa-plus-circle"></i>
        </span>
        <span>Add a new text</span>
    </a>
</div>