<div class="media">
    <div class="media-content">
        <div class="snippet-container">
            {{! insert SnippetView here}}
        </div>
    </div>
    <div class="label-container media-right">
        {{! insert LabelView here }}
    </div>
</div>
