<div class="columns is-mobile">
    <div class="column is-1">
        {{#if selectable}}
            <input type="checkbox" class="checkbox chbSelected">
        {{/if}}
    </div>
    <div class="result-content column is-11">
        {{! insert content here }}
    </div>
</div>
