<div class="control">
    <label for="select">{{filter.label}}
        <select class="select" multiple="multiple">
            {{#each filter.options}}
            <option class="{{this.className}}" value="{{this.value}}">{{this.label}}</option>
            {{/each}}
        </select>
    </label>
</div>