<nav class="pagination" role="navigation" aria-label="pagination">
  <a class="pagination-previous">Previous</a>
  <a class="pagination-next">Next page</a>
  <ul class="pagination-list">
    {{#if currentPage!=1}}
    <li>
      <a class="pagination-link" aria-label="Goto page 1">1</a>
    </li>
    {{/if}}
    {{#if currentPage>2}}
    <li>
      <span class="pagination-ellipsis">&hellip;</span>
    </li>
    {{/if}}
    <li>
      <a class="pagination-link">{{currentPage-1}}</a>
    </li>
    <li>
      <a class="pagination-link is-current" aria-current="page">{{currentPage}}</a>
    </li>
    <li>
      <a class="pagination-link">{{currentPage+1}}</a>
    </li>
    {{#if currentPage<lastPage-1}}
    <li>
      <span class="pagination-ellipsis">&hellip;</span>
    </li>
    {{/if}}
    {{#if currentPage!=lastPage}}
    <li>
      <a class="pagination-link" aria-label="Goto last page">{{lastPage}}</a>
    </li>
    {{/if}}
  </ul>
</nav>