<div class="columns is-mobile">
    {{#if selectable}}
    <div class="column is-1">
        <input type="checkbox" class="checkbox chbSelected">
    </div>
    {{/if}}
    <div class="result-content column">
        {{! insert content here }}
    </div>
</div>
