celery
django>=2,<3
djangorestframework
django-rest-auth[with_social]
defusedxml<0.6.0
django-livereload-server
django-proxy
django-cors-headers
elasticsearch
rdflib-django3
rdflib-jsonld
requests
keepalive
psycopg2 --no-binary psycopg2
pytest
pytest-django
pytest-xdist
python-dateutil
