django>=2,<3
djangorestframework
django-rest-auth[with_social]
django-livereload-server
django-proxy
django-cors-headers
-e git+https://github.com/UUDigitalHumanitieslab/rdflib-django3@store-triples-context-fix#egg=rdflib-django3
rdflib-jsonld
psycopg2 --no-binary psycopg2
pytest
pytest-django
pytest-xdist
