celery
django>=3.2,<4
djangorestframework
django-rest-auth[with_social]
defusedxml<0.6.0
django-livereload-server
django-proxy
django-cors-headers
elasticsearch
rdflib>6
rdflib-django3
requests
keepalive
psycopg2
pytest
pytest-django
pytest-xdist
