<header>
    <h3 class="title is-3 page-header">Upload source</h3>
</header>


<div class="section upload-source">
    <div class="field">
        <label class="label">Title</label>
        <div class="control">
            <input class="input" type="text" name="title" placeholder="The Voyage of the Dawn Treader" required>
        </div>
    </div>

    <div class="field">
        <label class="label">Author</label>
        <div class="control">
            <input name="author" class="input" type="text" placeholder="C.S. Lewis" required>
        </div>
    </div>

    <div class="field">
        <label class="label">Editor (optional)</label>
        <div class="control">
            <input name="editor" class="input" type="text" placeholder="C.S. Lewis">
        </div>
    </div>

    <div class="field">
        <label class="label">File</label>
        <div class="file">
            <label class="file-label has-helptext">
                <input class="file-input" type="file" name="source" id="source">
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label filelabel">
                        Choose a file…
                    </span>
                </span>
            </label>
            <p class="help filename">No file selected</p>
        </div>
        <p class="help">Note that currently, only txt files are supported.</p>
    </div>

    <div class="field">
        <label class="label">Language</label>
        <div class="control">
            <div class="select has-helptext">
                <select name='language' size='1'>
                    <option value="">Select language</option>
                    <option value="en">English</option>
                    <option value="de">German</option>
                    <option value="fr">French</option>
                    <option value="other">Other</option>
                </select>
            </div>
        </div>
        <p class="help">Specify the language that the source text is in. If the source contains multiple languages,
            please select 'Other'.</p>
    </div>

    <div class="field">
        <label class="label">Type of source</label>
        <div class="control">
            <div class="select has-helptext">
                <select name='type' size='1'>
                    <option value="">Select type</option>
                    <option value="book">Book</option>
                    <option value="article">Article</option>
                    <option value="review">Review</option>
                    <option value="socialmediaposting">Social Media Post</option>
                    <option value="webcontent">Webcontent</option>
                    <option value="other">Other</option>
                </select>
            </div>
        </div>
        <p class="help">Specify the type of the source. When in doubt, choose 'Other'</p>
    </div>

    <div class="field">
        <label class="label">Publication date</label>
        <div class="control">
            <input name="pubdate" class="input" type="text" placeholder="1952/09/01 (YYYY/MM/DD)"
                pattern="\d{4}/\d{2}/\d{2}">
        </div>
    </div>

    <div class="field">
        <label class="label">Publisher (optional)</label>
        <div class="control">
            <input name="publisher" class="input" type="text" placeholder="Geoffrey Bles">
        </div>
    </div>

    <div class="field">
        <label class="label">URL (optional)</label>
        <div class="control">
            <input name="url" class="input" type="text" placeholder="https://www.wikidata.org/wiki/Q331656">
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link btn-submit">Submit</button>
        </div>
        <div class="control">
            <button class="button is-link is-light btn-cancel">Cancel</button>
        </div>
    </div>

    <div class="field form-feedback-bar has-background-success">
        <p class="help">Source uploaded successfully! Upload another one or <a href="/explore">go to the
                Explorer</a></p>
    </div>

</div>
