<header>
    {{#if downloadLink}}
        <a class="rdf-export" href="{{downloadLink}}">
            <span class="icon">
                <i class="fas fa-file-export"></i>
            </span>
        </a>
    {{/if}}
    <h3 class="title is-3">{{title}}</h3>
</header>
