<h6 class="subtitle is-6">{{#i18n 'search.semantic-subtitle'}}Find linked data items based on semantic features{{/i18n}}</h6>
<div class="field is-grouped">
    <div class="control">
        <input
            type=text
            name=label
            maxlength=100
            value="{{label}}"
            placeholder="{{#i18n 'placeholder.optional-label'}}optional label for reference{{/i18n}}"
            class="input"
        >
    </div>
    <div class="control">
        <button type=submit class="button is-primary rit-submit-sem">
            <span>{{#i18n 'button.search'}}Search{{/i18n}}</span>
            <span class="icon is-small"><i class="fa fa-search"></i></span>
        </button>
    </div>
</div>
