<span class="icon is-large has-text-primary close">
    <i class="fas fa-times-circle fa-sm"></i>
</span>
<ol>
    {{#each details}}
    <li>
        <p class="overlap-detail" data-cid="{{cid}}">
            <span class="{{cssClass}}">{{text}}</span>
        </p>
    </li>
    {{/each}}
</ol>
