{{#i18n 'all_types_permitted_before_link'}}
This property permits any simple type from XML Schema, except for Name and NMTOKEN and their subtypes. See
{{/i18n}}
<a href="https://www.w3.org/TR/2004/REC-xmlschema-2-20041028/#built-in-datatypes" target=_blank>
    {{#i18n 'all_types_permitted_link'}}the W3C recommendation{{/i18n}}
</a>
{{#i18n 'all_types_permitted_after_link'}}
for an overview of the available types and their lexical representations.
{{/i18n}}
