<span>
    {{#i18n 'property.permitted-types-before-list'}}
    This property permits
    {{/i18n}}
</span><span class="rit-type-list">
</span><span>{{#i18n 'property.permitted-types-after-list'
}}.{{/i18n
}}</span>
