<div class="control">
    <div class="field has-addons">
        <div class="control">
            {{! predicate picker }}
        </div>
        <div class="control is-expanded">
            {{! literal field }}
        </div>
    </div>
</div>
<p class="help">
    {{#i18n 'all-types-permitted'}}
    This property permits any simple type.
    {{/i18n}}
</p>
<p class="help is-danger">
    {{#i18n 'no-type-matched'}}
    This value does not match the permitted type(s).
    {{/i18n}}
</p>
