<div class="field has-addons">
    <div class="control">
        {{! predicate picker }}
    </div>
    <div class="control is-expanded">
        {{! literal field }}
    </div>
</div>
<p class='help is-hidden'>{{this.helpText}}</p>
