<p class="help">
    {{#i18n 'all_types_permitted'}}
    This property permits any simple type.
    {{/i18n}}
</p>
<p class="help is-danger">
    {{#i18n 'no_type_matched'}}
    This value does not match the permitted type(s).
    {{/i18n}}
</p>
