.annotation-list-panel
    width: 260px !important
    min-width: unset !important

    .summary-list
        overflow-y: auto
        height: 85%


.anno-item-sum-block
    @extend .tag
    height: unset !important
    white-space: pre-line !important
    justify-content: unset !important
    max-width: 200px

    &.is-highlighted
        border: 2px solid rgba(0,0,0, 0.25)
