.annotation-list-panel
    width: 260px !important
    min-width: unset !important

    .summary-list
        .item-sum-block
            opacity: 0.8

            &.is-highlighted
                opacity: 1
