.categoryPickerWrapper
    .modal
        justify-content: flex-start
        padding-top: 10%
    .panel-tabs
        flex-wrap: wrap
        justify-content: flex-start

#text
    position: relative
    pointer-events: none
    z-index: 2

.textWrapper
    position: relative

.anno-rect
    z-index: 1
    position: absolute

.deleteAnno
    display: none
    position: absolute
    right: -8px
    cursor: pointer

.anno-deletion-modal-card 
    width: 250px !important 