.categoryPickerWrapper
    .modal
        justify-content: flex-start
        padding-top: 10%
    .panel-tabs
        flex-wrap: wrap
        justify-content: flex-start

.anno-rect
    z-index: 1
    position: absolute

#test
    position: relative
    pointer-events: none
    z-index: 2

.annotation-wrapper
    height: 250px
    padding: 6px
    border: 2px solid black
    border-radius: 4px

.testWrapper
    position: relative
    
.deleteAnno
    display: none
    position: absolute
    right: -8px
    cursor: pointer

.deleteAnno:hover
    display: block
