.rit-reader
    background-color: $reader-color !important

.rit-reader_properties
    background-color: $reader_properties-color !important

.rit-medium
    background-color: $medium-color !important

.rit-content
    background-color: $content-color !important

.rit-resource_properties
    background-color: $resource_properties-color !important

.rit-reading_session
    background-color: $reading_session-color !important

.rit-state_of_mind
    background-color: $state_of_mind-color !important
