.rit-person
    background-color: $person-color !important
    
.rit-reader
    background-color: $reader-color !important

.rit-state_of_mind
    background-color: $state_of_mind-color !important

.rit-disposition
    background-color: $disposition-color !important

.rit-event
    background-color: $event-color !important

.rit-support
    background-color: $support-color !important

.rit-content
    background-color: $content-color !important

.rit-alteration
    background-color: $alteration-color !important

.rit-reading
    background-color: $reading-color !important

.rit-session
    background-color: $session-color !important

.rit-experience
    background-color: $experience-color !important

.rit-premise
    background-color: $premise-color !important

.rit-outcome
    background-color: $outcome-color !important
