// color names from http://chir.ag/projects/name-that-color
$primary-color: #821822 // a.k.a Read-IT red / Merlot
$secondary-color: #068587  // a.k.a. Read-IT blue-green / Elf Green
$tertiary-color:  #4F4A44 // a.k.a. Read-IT grey-brown / Fuscous Gray
$quaternary-color: #958C87 // a.k.a. Read-IT light-grey / Schooner
$fifth-color: #8DAA91 // a.k.a. Envy (light mintish green)
$sixth-color: #D7C0D0
$seventh-color: #7A5C61 // a.k.a. Russett (pinkish brown)
$eigth-color: #3A2E39 // a.k.a. Thunder (very dark brown)

$footer-height: 105px
$footer-text-color: #ccc
$footer-background-color: $secondary-color

// bulma overrides
$primary: $primary-color
$secondary: $secondary-color
$info: $primary-color
$link: $primary-color
$tag-color: white
$button-focus-border-color: $primary-color
$modal-content-width: 80%
$accordion-header-background-color: #dbdbdb !default
$accordion-header-color: black !default
$accordion-background-color: white !default
$tag-color: #000

// category colors
// category colors
$person-color: $primary-color
$reader-color: #F18F01
$state_of_mind-color: #D1495B
$disposition-color: $quaternary-color
$event-color: #DBD56E
$reading_process-color: #2D93AD
$support-color: #60D394
$content-color: #F5CAC3
$alteration-color: #966B9D
$temporal_entity-color: $secondary-color
$reading_resource-color: $tertiary-color
$reading_frame-color: $fifth-color
$reading-color: $sixth-color
$session-color: darken($reading-color, 10%)
$experience-color: darken($reading-color, 20%)
$premise-color: $seventh-color
$outcome-color: $eigth-color


.toggleProxy
    @extend .toggle


.is-readit-selection
    background-color: #ACCEF7

::selection
    background-color: #ACCEF7
