// color names from http://chir.ag/projects/name-that-color
$primary-color: #821822 // a.k.a Read-IT red / Merlot
$secondary-color: #068587  // a.k.a. Read-IT blue-green / Elf Green
$tertiary-color:  #4F4A44 // a.k.a. Read-IT grey-brown / Fuscous Gray
$quaternary-color: #958C87 // a.k.a. Read-IT light-grey / Schooner
$fifth-color: #8DAA91 // a.k.a. Envy (light mintish green)
$sixth-color: #D7C0D0
$seventh-color: #ff9900
$eigth-color: #3A2E39 // a.k.a. Thunder (very dark brown)

$footer-text-color: #ccc
$footer-background-color: $secondary-color

// bulma overrides
$primary: $primary-color
$secondary: $secondary-color
$info: $primary-color
$link: $primary-color
$tag-color: white
$button-focus-border-color: $primary-color
$modal-content-width: 80%

// bulma accordion overrides
$accordion-header-background-color: white;
$accordion-header-color: black;


// category colors
$reader-color: lighten($primary-color, 20%)
$person-color: lighten($reader-color, 20%)
$state_of_mind-color: lighten($person-color, 20%)
$disposition-color: lighten($secondary-color, 5%)
$event-color: lighten($disposition-color, 15%)
$support-color: lighten($tertiary-color, 30%)
$alteration-color: $seventh-color
$content-color: lighten($alteration-color, 35%)
$reading-color: lighten($sixth-color, 10%)
$session-color: darken($reading-color, 15%)
$experience-color: darken($session-color, 15%)
$premise-color: #0099ff
$outcome-color: lighten($premise-color, 30%)
