.explorer
    display: flex
    flex-direction: row

    .explorer-panel
        height: 100%
        width: 550px
        padding: 25px
        margin: 5px
        display: flex
        flex-direction: column
        border: 1px solid black
        border-radius: 10px

