.explorer
    display: flex
    flex-direction: row
    overflow-x: scroll
    overflow-y: hidden

    .panel-stack
        position: relative

    .explorer-panel
        height: 98%
        min-width: 550px
        width: 550px
        padding: 25px
        margin: 5px
        display: flex
        flex-direction: column
        border: 1px solid black
        border-radius: 10px

