.explorer
    display: flex
    flex-direction: row
    padding: 1em 2em
    overflow-x: auto

    .spacer
        height: 1px
        min-width: 100%

    .explorer-panel
        height: 98%
        min-width: 550px
        width: 550px
        padding: 25px
        margin: 5px
        display: flex
        flex-direction: column
        border: 1px solid black
        border-radius: 3px

        .panel-header
            header
                $content-header-min-height: 36px
                margin-bottom: $content-header-margin-bottom

                aside
                    float: right
            button
                float: right
                margin-left: 0.3em

        // If you need a form on a panel, structure it like this:
        // <div class="panel-header"></div>
        // <form class="panel-form">
        //      <div class="panel-content">
        //      <div class="panel-footer">
        // </form>
        // This way the buttons in the footer can trigger the form submit
        .panel-form
            display: flex
            flex-direction: column
            height: 100%
            overflow: auto

        .panel-content
            height: 100%
            overflow-y: auto

            &.no-overflow
                overflow-y: unset

        .panel-footer
            button
                width: 100px
                margin-top: 0.5em
                margin-left: 0.3em
