footer
    background-color: $footer-background-color
    // position: absolute
    height: $footer-height
    padding: 1em 1em !important
    bottom: 0
    left: 0
    right: 0
    color: $footer-text-color

    &.fixed
        position: fixed
        bottom: 0
        width: 100%
        z-index: 10

    .delete
        position: absolute
        right: 0.5em
        top: 0.5em

    img
        display: inline-block
        margin-right: 15px


    .footer-dh
        height: 40px

        figure
            height: 100%

        img.dhlab
            height: 100%


    .footer-project
        height: 40px

        figure
            height: 100%

        img.uu
            height: 100%

        img.lemans
            height: 85%

        img.irisa
            height: 100%

        img.ou
            height: 90%

        img.icl
            height: 90%
