.form-feedback-bar
    p
        margin-left: 0.25em

.is-narrow-modal-form
    max-width: 600px
    margin: 0 auto


.ontology-class-picker
    display: inline-block

    .dropdown-menu
        min-width: unset

    .dropdown-label
        .tag
            bottom: 2px

    .dropdown-content
        margin-left: 1px
    
    .is-level-1
        padding-left: 30px
    
    .is-level-2
        padding-left: 50px


.hidden-input
    display: none

.upload-source-form p.filename
    padding: 7px
