.highlightable-text
    position: relative // required for positioning of highlights

    .textWrapper
        position: relative // required for z-index to work
        pointer-events: none
        z-index: 2

    .highlight
        .highlight-rect
            z-index: 1
            position: absolute

        .delete-highlight
            display: none
            position: absolute
            right: -8px
            top: -14px
            cursor: pointer
