.highlightable-text
    word-wrap: break-word
    overflow-y: scroll
    flex: 1 1 auto

    .position-container
        position: relative // required for positioning of highlights
        width: 99%

    .textWrapper
        position: relative // required for z-index to work
        z-index: 2
        white-space: pre-wrap
        white-space: -moz-pre-wrap
        white-space: -o-pre-wrap
        background-color: unset
        padding: unset
        font-family: inherit

    // using this class disables all pointer (i.e. mouse) events on the element.
    // this is useful for allowing mouse events on absolutely positioned elements
    // that are 'behind' the current element (i.e. lower z-index).
    .no-pointer-events
        pointer-events: none // required to correctly receive .highlight events

    .rit-text-segment
        cursor: pointer

        & > div
            z-index: 1
            position: absolute
            display: flex
            flex-direction: column

            & > div
                flex: 1

            &.is-selected
                border: 2px solid rgba(0,0,0, 0.4)

        .delete-highlight
            display: none
            position: absolute
            right: -8px
            top: -14px
            cursor: pointer


    .overlap-details
        position: absolute
        z-index: 3
        width: 80%
        margin: auto
        cursor: pointer

        .overlap-detail
            margin-top: 6px

            &.is-selected
                border: 2px solid rgba(0,0,0, 0.4)


        .close
            float: right
            margin-top: -21px
            margin-right: -15px
