@import defaults
@import bulma-custom
@import search
@import welcome
@import footer
@import explorer
@import source
@import highlight
@import annotation
@import forms
@import item-edit
@import item-metadata
@import item-summary-block
@import item-sections
@import related-items
@import loading-spinner
@import page
@import metadata
@import suggestions

html, body
    height: 100%

.wrapper
    min-height: 100%
    height: auto !important
    display: flex
    flex-direction: column

body
    width: 100%

.push
    flex: 1

.footer, .push
    clear: both

main
    min-height: 450px
