@import defaults
@import bulma-custom
@import search
@import welcome
@import footer
@import explorer
@import source
@import ldItem


html, body
    height: 100%

.wrapper
    min-height: 100%
    height: auto !important
    height: 100%
    margin: 0 auto -142px

body
    width: 100%

.push
    height: 142px

.footer, .push
    clear: both

main
    min-height: 450px


