@import defaults
@import bulma-custom
@import search
@import welcome
@import footer
@import explorer
@import source
@import highlight
@import annotation
@import forms
@import item-metadata
@import item-summary-block
@import item-sections
@import related-items
@import loading-spinner
@import page

html, body
    height: 100%

.wrapper
    min-height: 100%
    height: auto !important
    height: 100%
    margin: 0 auto (-$footer-height)

body
    width: 100%

.push
    // 133 is the height of the footer (got the number by testing manually)
    // Note that the same number should be in the readit.ts aspect, in 'getViewportHeight'
    height: 133px

.footer, .push
    clear: both

main
    min-height: 450px
