.metadata-panel
    z-index: 3
    width: 400px
    background-color: $background
    height: auto
    position: relative

.file
    .file-cta
        background-color: $background-fore

        &:hover
            background-color: $background
