.searchbox
    margin-bottom: 1.5rem

#searchbox-button .icon
    margin-right: 2px

.searchbox .dropdown .button
    border-radius: 0px !important

.search-searchbox
    max-width: 94%

.search-result
    margin: 10px
    height: 125px
    position: relative
    cursor: pointer
    opacity: 0.8

    &.is-selected
        border: 2px solid rgba(0,0,0, 0.4)
        opacity: 1

    .checkbox
        position: absolute
        top: 50%
        transform: translateY(-50%)

    .snippet
        word-break: break-all

// .search-result-list
//     .results-container
//         overflow-y: auto
