.searchbox
    margin-bottom: 1.5rem

#searchbox-button .icon
    margin-right: 2px

.searchbox .dropdown .button
    border-radius: 0px !important

.search-searchbox
    max-width: 94%

.search-resultcount
    margin-bottom: 1.5rem

.searchresults
    max-width: 85%
    margin: 0 auto

.searchresult-right
    position: relative

.searchresult-icons
    position: absolute
    bottom: 8px
    right: 14px
    
.searchresult-resultbox
    &:hover
        box-shadow: 0 2px 3px rgba($primary, 0.1), 0 0 0 1px $link

.modal-card-head-text
    display: flex
    flex-direction: column