.source
    .source-content
        height: 100%
        overflow-x: hidden
        overflow-y: scroll

    .toolbar
        text-align: center

    .toolbar-item
        margin-bottom: 10px
        padding-bottom: 5px
        border-bottom: 1px solid black
        cursor: pointer
