.source
    .source-content
        height: 100%
        // overflow-x: hidden
        // overflow-y: scroll

    .source-container
        height: 100%
        display: flex
        flex-direction: column

        .title
            flex: 0 0 auto

    .toolbar
        text-align: center

    .toolbar-item
        font-size: 1.4em
        line-height: 39px
        height: 50px
        padding: 5px
        margin-bottom: 10px
        border-bottom: 1px solid black
        cursor: pointer

        &.is-active
            background-color: bisque

.source-list
    .source-language
        margin-bottom: 20px
