.tag-reader
    background-color: $reader-color !important

.tag-person
    background-color: $person-color !important

.tag-stateofmind
    background-color: $state_of_mind-color !important

.tag-content
    background-color: $content-color !important