<div class="container">
    <div id="searchbox" class="search-searchbox"></div>

    <div class="columns">
        <div class="column is-3">
            <p class="title is-4">Filters</p>
            <div class="search-filters">
            </div>
        </div>

        <div class="column" id="search-results-wrapper">
            
        </div>
    </div>
</div>