<form id="search-form">
    <div class="field has-addons">
        <div class="control is-expanded">
            <input class="input" type="text" placeholder="Search our database" required>
        </div>
        <div class="control">
            <input type="submit" value="Search" class="button is-info">
        </div>
    </div>
</form>