<div class="modal is-active is-primary">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <div class="modal-card-head-text">
                <p class="modal-card-title title is-4">
                    <span class="tag is-medium rit-content">content</span>
                    Jane Eyre
                </p>
            </div>
            <button class="delete is-medium" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="tabs switchable-tabs is-boxed">
                <ul>
                    <li class="tab is-active" value="properties_tab"><a>Properties</a></li>
                    <li class="tab" value="related_tab"><a>Related items</a></li>
                    <li class="tab" value="snippets_tab"><a>Annotations</a></li>
                    <li class="tab" value="links_tab"><a>External resources</a></li>

                </ul>
            </div>

            <div class="tab-content" id="properties_tab">
                <table class="table is-fullwidth is-hoverable">
                    <tbody>
                        <tr>
                            <th>Title</th>
                            <td>Jane Eyre, An Autobiography</td>
                        </tr>
                        <tr>
                            <th>Creator</th>
                            <td><a>Currer Bell (Charlotte Brontë)</a></td>
                        </tr>
                        <tr>
                            <th>Publisher</th>
                            <td><a>Smith, elder, and co., London</a></td>
                        </tr>
                        <tr>
                            <th>Date issued</th>
                            <td>1847</td>
                        </tr>
                        <tr>
                            <th>Language</th>
                            <td>en-UK</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="tab-content" id="snippets_tab" style="display: none">
                <table class="table is-fullwidth is-hoverable">
                    <tbody>
                        <tr>
                            <th>Extract from Memories of fiction</th>
                            <td>
                                <a>1</a>
                                <a>2</a>
                            </td>
                        </tr>
                        <tr>
                            <th>Source used in Rennes</th>
                            <td><a>1</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="tab-content" id="links_tab" style="display:none">
                <table class="table is-fullwidth is-hoverable">
                    <tbody>
                        <tr>
                            <th>Wikidata</th>
                            <td><a href="https://www.wikidata.org/entity/Q182961" target="_blank">
                                https://www.wikidata.org/entity/Q182961
                            </a></td>
                        </tr>
                        <tr>
                            <th>DBpedia</th>
                            <td><a href="http://dbpedia.org/page/Jane_Eyre" target="_blank">
                                http://dbpedia.org/page/Jane_Eyre
                            </a></td>
                        </tr>
                        <tr>
                            <th>VIAF</th>
                            <td><a href="http://viaf.org/viaf/179440401/#Brontë,_Charlotte,_1816-1855._|_Jane_Eyre" target="_blank">
                                http://viaf.org/viaf/179440401/#Brontë,_Charlotte,_1816-1855._|_Jane_Eyre
                            </a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="tab-content" id="related_tab" style="display:none">
                <table class="table is-fullwidth is-hoverable">
                    <tbody>
                        <tr>
                            <td>
                                <div class="tag is-medium rit-reader">
                                    reader
                                </div>
                                <a>Ferelith Hordon</a>
                            </td>
                            <td><a>reading</a></td>
                            <td>this</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="tag is-medium rit-reader">
                                    reader
                                </div>
                                <a>Alex Hebing</a>
                            </td>
                            <td><a>reading</a></td>
                            <td>this</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="tag is-medium rit-support">
                                    support
                                </div>
                                <a>a particular two volume edition</a>
                            </td>
                            <td><a>providing access to</a></td>
                            <td>this</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="tag is-medium rit-support">
                                    support
                                </div>
                                <a>an old fashioned book</a>
                            </td>
                            <td><a>providing access to</a></td>
                            <td>this</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="tag is-medium rit-support">
                                    support
                                </div>
                                <a>a paperback</a>
                            </td>
                            <td><a>providing access to</a></td>
                            <td>this</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="tag is-medium rit-alteration">
                                    alteration
                                </div>
                                <a>covered in brown paper</a>
                            </td>
                            <td><a>related to</a></td>
                            <td>this</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
