<div class="modal-background"></div>
<div class="modal-content">
    <form class="box register-form">
        <header>
            <h3 class="title is-3 page-header">Register</h3>
        </header>
        <div class="field">
            <label class="label">Username</label>
            <div class="control">
                <input name="username" class="input" type="text" name="title" placeholder="Username" required>
            </div>
        </div>

        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                <input name="email" class="input" type="email" placeholder="example@readit.com" required>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <label class="label">Password</label>
                <input name="password" id="password" class="input" type="password" placeholder="Password">
            </div>
        </div>

        <div class="field">
            <div class="control">
                <input name="password_again" class="input" type="password" placeholder="Repeat password">
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link btn-submit">Register</button>
            </div>
        </div>

    </form>
</div>
