<div class="modal-background"></div>
<div class="modal-content">
    <form class="box register-form">
        {{#if isSuccess}}
        <header>
            <h3 class="title is-3 page-header">Registration finished succesfully!</h3>
        </header>
        <p>Please activate your account via the link in the mail we just sent you.</p>
        <p>You can now close this window.</p>
        {{else}}
        <header>
            <h3 class="title is-3 page-header">Register</h3>
        </header>
        <div class="field">
            <label class="label">Username</label>
            <div class="control">
                <input name="username" class="input" type="text" name="title" placeholder="Username" required>
            </div>
        </div>

        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                <input name="email" class="input" type="email" placeholder="example@readit.com" required>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <label class="label">Password</label>
                <input name="password1" id="password" class="input" type="password" placeholder="Password">
            </div>
        </div>

        <div class="field">
            <div class="control">
                <input name="password2" class="input" type="password" placeholder="Repeat password">
            </div>
        </div>

        {{#if hasError}}
        <div class="field form-feedback-bar has-background-danger has-text-white">
            <p class="help">Registration failed. Please try again and if this error keeps occuring, contact the site administrator.</p>
        </div>
        {{/if}}

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link btn-submit">Register</button>
            </div>
        </div>
        {{/if}}

    </form>

</div>
