<div class="panel-header">
    <header>
        <h3 class="title is-3">Annotations</h3>
    </header>
    <div class="buttons is-right">
        <a class="button rdf-export" href="{{downloadLink}}">
            <span class="icon is-large has-text-primary tooltip is-tooltip-left"
                data-tooltip="Export annotations">
                <i class="fas fa-download"></i>
            </span>
        </a>
    </div>
</div>
<div class="panel-content"></div>
<div class="panel-footer"></div>