<span class="icon is-small">
    <i class="fas fa-fw fa-caret-right"></i>
    <i class="fas fa-fw fa-caret-down"></i>
</span>
<label class="checkbox">
    <input type=checkbox {{#checked}}checked{{/checked}}>
</label>
