<label class="checkbox">
    <input type=checkbox {{#checked}}checked{{/checked}}>
</label>
<span class="icon is-small is-left">
    <i class="fas fa-caret-right"></i>
    <i class="fas fa-caret-down"></i>
</span>
