<div id="btn-back-to-list">
    <span  class="icon is-small tooltip" data-tooltip="Back to list of sources">
        <i class="fas fa-arrow-left"></i>
    </span>
</div>

<br/>

<div class="annotationWrapper">

    <div id="testWrapper">
        <p class="test" id="test">{{annotatedText}}</p>
    </div>
</div>

<div class="annotationsWrapper">

</div>

<div class="categoryPickerWrapper">

</div>