<div class="title is-1">Annotation works!</div>

<div class="annotationWrapper">
    <p>{{{annotatedText}}}</p>
</div>
<div id="modalContainer" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <div class="modal-card-head-text">
                <p class="modal-card-title title is-4">Titel</p>
                <p class="subtitle is-6">Subtitle</p>
            </div>
        </header>
        <section class="modal-card-body">
            
        </section>
    </div>
    <button class="modal-close is-medium" aria-label="close"></button>
</div>