<div class="annotationWrapper">

    <div id="testWrapper">
        <p class="test" id="test">{{annotatedText}}</p>
    </div>
</div>

<div class="annotationsWrapper">

</div>

<div class="categoryPickerWrapper">

</div>