<div id="btn-back-to-list">
    <span  class="icon is-small tooltip" data-tooltip="Back to list of sources">
        <i class="fas fa-arrow-left"></i>
    </span>
</div>

<br/>

<p class="title is-5">{{source.name}} ({{source.author}})</p>

<div class="annotationWrapper">
    <div id="textWrapper">
        <p id="text">{{source.text}}</p>
    </div>
</div>

<div class="categoryPickerWrapper">

</div>