<div class="panel-header">
    <header>
        <h3 class="title is-4">{{#i18n 'source_title_many'}}Sources{{/i18n}}</h3>
    </header>
</div>
<div class="panel-content">
</div>
<div class="panel-footer">
</div>