<div class="card">
    <div class="card-content">
        <a data-source-cid="{{model.cid}}" class="source">
            <p class="title is-5">{{name}}</p>
            <p class="subtitle is-6">({{author}})</p>
        </a>
    </div>
</div>