<p class="title is-6">{{language}}</p>
{{#each sources}}
<div class="card">
    <div class="card-content">
        <a data-source-cid="{{cid}}" class="sources">
            <p class="title is-5">{{name}}</p>
            <p class="subtitle is-6">({{author}})</p>
        </a>
    </div>
</div>
{{/each}}
