<div class="modal-background"></div>
<div class="modal-content">
    <form class="box is-narrow-modal-form">
    {{#if isConfirmed}}
    <h3 class="title is-3">{{#i18n 'confirmation-complete'}}Confirmation complete{{/i18n}}</h3>
    <p>{{#i18n 'sign-up-thanks-before-link'}}Thank you for signing up. You can now {{/i18n}}<a href='search'>{{#i18n 'sign-up-thanks-link'}}login{{/i18n}}</a>{{#i18n 'sign-up-thanks-after-link'}}.{{/i18n}}</p>
    {{/if}}

    {{#if wasNotFound}}
    <h3 class="title is-3">{{#i18n 'confirmation-failed'}}Confirmation failed{{/i18n}}</h3>
    <p>{{#i18n 'token-expiration'}}This is probably due to token expiration.{{/i18n}}</p>
    <p>{{#i18n 'try-confirm-again'}}Please try again and if this error keeps occuring, contact the site administrator.{{/i18n}}</p>
    {{/if}}

    {{#if hasError}}
    <h3 class="title is-3">{{#i18n 'confirmation-failed'}}Confirmation failed{{/i18n}}</h3>
    <p>{{#i18n 'try-confirm-again'}}Please try again and if this error keeps occuring, contact the site administrator.{{/i18n}}</p>
    {{/if}}
    </form>
</div>
