<article class="accordion has-mt-10">
    <div class="accordion-header toggle">
        <p>{{title}}</p>
        <button type=button class="toggleProxy" aria-label="toggle"></button>
    </div>
    <div class="accordion-body">
        <table class="accordion-content table is-bordered">
            <thead>
                <tr>
                    <th>{{#i18n 'table_name'}}Name{{/i18n}}</th>
                    <th>{{#i18n 'table_value'}}Value{{/i18n}}</th>
                </tr>
            </thead>
            <tbody>
                {{#each metadata}}
                <tr>
                    <td>{{@key}}</td>
                    <td>{{this}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</article>
