<div class="section source">
    <div class="field">
        <label class="label">Title</label>
        <div class="control">
            <input class="input" type="text" name="title" {{#unless readonly}}placeholder="The Voyage of the Dawn Treader"{{/unless}} required {{#readonly}}readonly{{/readonly}}>
        </div>
    </div>
    <div class="field">
        <label class="label">Author</label>
        <div class="control">
            <input name="author" class="input" type="text" {{#unless readonly}}placeholder="C.S. Lewis"{{/unless}} required {{#readonly}}readonly{{/readonly}}>
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <label class="label">Editor (optional)</label>
            <input name="editor" class="input" type="text" {{#unless readonly}}placeholder="C.S. Lewis"{{/unless}} {{#readonly}}readonly{{/readonly}}>
        </div>
        <div class="control">
            <label class="label">Publisher (optional)</label>
            <input name="publisher" class="input" type="text" {{#unless readonly}}placeholder="Geoffrey Bles"{{/unless}} {{#readonly}}readonly{{/readonly}}>
        </div>
    </div>
    <div class="field">
        <label class="label">Repository (optional)</label>
        <div class="control">
            <input name="repository" class="input" type="text"
                {{#unless readonly}}placeholder="Archive, location, collection, call, fasc, folio"{{/unless}} {{#readonly}}readonly{{/readonly}}>
        </div>
    </div>
    {{#upload}}
    <div class="field">
        <label class="label">File</label>
        <div class="file">
            <label class="file-label has-helptext">
                <input class="file-input" type="file" name="source" id="source">
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label filelabel">
                        Choose a file…
                    </span>
                </span>
                <span class="file-name">
                    No file selected
                </span>
            </label>
        </div>
        <p class="help">Only txt files in UTF-8 encoding (LF for line endings) are supported.</p>
    </div>
    {{/upload}}
    
    <div class="field">
        <label class="label">Language</label>
        <div class="control" id="languageSelect">
            {{#readonly}}
            <input name="language" class="input" type="text" readonly>
            {{else}}
            <div class="select has-helptext">
                <select name='language' size='1'>
                    <option value="">Select language</option>
                    <option value="en">English</option>
                    <option value="de">German</option>
                    <option value="fr">French</option>
                    <option value="it">Italian</option>
                    <option value="cs">Czech</option>
                    <option value="nl">Dutch</option>
                    <option value="other">Other</option>
                </select>
            </div>
            {{/readonly}}
        </div>
        <p class="help">If the source contains multiple languages,
            please select 'Other'.</p>
    </div>

    <div class="field">
        <label class="label">Type of source</label>
        {{#readonly}}
        <div class="control">
            <input name='sourceType' class="input" type="text" readonly>
        </div>
        {{else}}
        <div class="control" id="sourceTypeSelect">
        </div>
        {{/readonly}}
        <p class="help">When in doubt, choose 'Unknown'</p>
    </div>
    <div class="dates">
        {{!date fields with type-aware help will be rendered here}}
    </div>
    <div class="field">
        <div class="control">
            <label class="label">Source access</label>
            <label class="radio">
                <input type="radio" name="public" value="public" checked>
                Public
            </label>
            <label class="radio">
                <input type="radio" name="public" value="private">
                Private
            </label>
            <p class="help">Provide access to everyone (public) or only you (private).</p>
        </div>
    </div>
    <div class="field url">
        <label class="label">URL (optional)</label>
        <div class="control">
            <input name="url" class="input" type="url" {{#unless readonly}}placeholder="https://www.wikidata.org/wiki/Q331656"{{/unless}} {{#readonly}}readonly{{/readonly}}>
        </div>
    </div>
</div>