<figure class="image notfound">
    <img src="{{static 'image/404.svg'}}" alt="404 Not Found">
</figure>
<p>
    Oops, this page doesn't seem to exist.
    You can <a onclick="history.back()">go back</a>,
    visit <a href="search">Search</a> or <a href="explore">Explore</a>,
    or report a problem to the maintainers.
</p>
