<figure class="image notfound">
    <img
        src="{{static 'image/404.svg'}}"
        alt="{{#i18n 'not_found_alt'}}404 Not Found{{/i18n}}"
    >
</figure>
<p>{{{#i18n 'not_found_text'}}}
    Oops, this page doesn't seem to exist.
    You can <a onclick="history.back()">go back</a>,
    visit <a href="/landing">Landing</a> or <a href="/search">Search</a>,
    or report a problem to the maintainers.
{{{/i18n}}}</p>
