<nav
    class="navbar"
    role="navigation"
    aria-label="{{#i18n 'main-navigation'}}main navigation{{/i18n}}"
>
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="{{static 'image/read-it-logo-med-colour-no-letters.png'}}" alt="Read-It">
            </a>
            <a
                role="button"
                class="navbar-burger burger"
                aria-label="{{#i18n 'menu'}}menu{{/i18n}}"
                aria-expanded="false"
                data-target="navbarMenu"
            >
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item tooltip is-tooltip-right" data-tooltip="{{#i18n 'about-tooltip'}}Find out more about the READ-IT project{{/i18n}}" href="https://readit-project.eu" target="_blank">
                    <span class="icon-text">
                        <span class="icon is-small has-text-primary">
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <span>{{#i18n 'about'}}About{{/i18n}}</span>
                </a>
                <a class="navbar-item tooltip is-tooltip-left" data-tooltip="{{#i18n 'search-tooltip'}}Search reading experiences and annotations{{/i18n}}" href="/search">
                    <span class="icon-text">
                        <span class="icon is-small has-text-primary">
                            <i class="fas fa-search"></i>
                        </span>
                        <span>{{#i18n 'search'}}Search{{/i18n}}</span>
                    </span>
                </a>
                <div class="navbar-item has-dropdown is-hoverable" data-tooltip="{{#i18n 'explore-tooltip'}}Get a random selection of reading experiences and annotations{{/i18n}}">
                    <a class="navbar-link">
                        <span class="icon-text">
                            <span class="icon is-small has-text-primary">
                                <i class="fas fa-compass"></i>
                            </span>
                            <span>{{#i18n 'explore'}}Explore{{/i18n}}</span>
                        </span>
                    </a>
                    <div class="navbar-dropdown">
                        <a href="/explore/sources" class="navbar-item" id="source-list">
                            {{#i18n 'sources'}}Sources{{/i18n}}
                        </a>
                        <a href="/explore/items" class="navbar-item" id="item-list">
                            {{#i18n 'items'}}Items{{/i18n}}
                        </a>
                    </div>
                </div>
                {{#if uploadSources}}
                <a class="navbar-item tooltip is-tooltip-left"
                    data-tooltip="{{#i18n 'upload-tooltip'}}Upload reading testimonies for annotation{{/i18n}}" href="/upload">
                    <span class="icon-text">
                        <span class="icon is-small has-text-primary">
                            <i class="fas fa-upload"></i>
                        </span>
                        <span>{{#i18n 'upload'}}Upload{{/i18n}}</span>
                    </span>
                </a>
                {{/if}}
            </div>
            <div class="navbar-end">
                <a class="navbar-item tooltip is-tooltip-left" data-tooltip="{{#i18n 'contribute-tooltip'}}Find out how to contribute to READ-IT{{/i18n}}"
                    href="https://readit-project.eu/contact/contribute-to-read-it/", target="_blank">
                    <span class="icon-text">
                        <span>{{#i18n 'contribute'}}Contribute{{/i18n}} </span>
                        <span class="icon is-small has-text-primary">
                            <i class="fas fa-external-link-alt"></i>
                        </span>
                    </span>
                </a>
                {{#if username}}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        {{#i18n 'greeting'}}Hello, {{username}}!{{/i18n}}
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/landing">
                            {{#i18n 'landing-page'}}Personal landing page{{/i18n}}
                        </a>
                        <a class="navbar-item" href="/explore/sources/mine">
                            {{#i18n 'my-sources'}}My sources{{/i18n}}
                        </a>
                        <a class="navbar-item" href="/explore/items/mine">
                            {{#i18n 'my-items'}}My items{{/i18n}}
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item tooltip is-tooltip-left" data-tooltip="{{#i18n 'feedback-tooltip'}}Give us feedback on the interface{{/i18n}}" id="feedback">
                            {{#i18n 'feedback'}}Feedback{{/i18n}}
                        </a>
                        <a class="navbar-item" id="logout" href="/leave">
                            {{#i18n 'log-out'}}Log out{{/i18n}}
                        </a>
                    </div>
                </div>
                {{else}}
                <a class="navbar-item" id=login href="/enter">
                    <span class="icon-text">
                        <span class="icon is-small has-text-primary">
                            <i class="fas fa-sign-in-alt"></i>
                        </span>
                        <span>{{#i18n 'login'}}Login{{/i18n}}</span>
                    </span>
                </a>
                {{/if}}
            </div>
        </div>
    </div>
</nav>
