<div class="modal-background"></div>
<div class="modal-content">
    <form class="box">
        <div class="field">
            <label class="label">Username</label>
            <div class="control">
                <input type=text name=username autofocus required class="input" value="admin">
            </div>
        </div>
        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input type=password name=password required class="input" value="Utrecht05">
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button type=submit class="button is-primary">Login</button>
            </div>
            <div class="control">
                <button type=reset class="button">Cancel</button>
            </div>
        </div>
    </form>
</div>
<button class="modal-close is-large" aria-label="close"></button>
