<header>
    <h3 class="title is-3 page-header">Upload source</h3>
</header>
<div class="section upload-source">
    
    <div class="field form-feedback-bar has-background-success">
        <p class="help">Source uploaded successfully! Upload another one or <a href="/explore">go to the
                Explorer</a></p>
    </div>
    <div class="field form-feedback-bar has-background-danger has-text-white">
        <p class="help">Uploading failed. Please try again and if this error keeps occuring, contact the site
            administrator. Do you have permission to upload sources?</p>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button type=submit class="button is-link btn-submit">Submit</button>
        </div>
        <div class="control">
            <button type=button class="button is-link is-light btn-preview">Preview</button>
        </div>
        <div class="control">
            <button type=reset class="button is-link is-light btn-cancel">Cancel</button>
        </div>
    </div>
</div>
<div class="modal is-clipped">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Preview source content</p>
            <button type=button class="delete" aria-label="close">
                <i class="fas fa-times"></i>
            </button>
        </header>
        <section class="modal-card-body">
            <pre>
            {{! preview rendered here}}
            </pre>
        </section>
    </div>
</div>
