<div class="landing">
    <h1 class="title">
        Welcome, {{user}}
    </h1>
    <div class="card sources">
        <div class="content">
            View your sources
        </div>
    </div>
     <div class="card items">
        <div class="content">
            View your items
        </div>
    </div>

</div>