<figure>
    <figcaption><i>Powered by</i></figcaption>
    <a href="http://dig.hum.uu.nl">
        <img title="Digital Humanities Lab" alt="DigHum Logo" src="{{static 'image/dighum-logo.svg'}}">
    </a>
</figure>
