<div class="panel-header">
    <header>
        <h3 class="title is-3">{{title}}</h3>
    </header>
</div>
<div class="selections panel-content">
    <div class="filtering"></div>
    <div class="sorting"></div>
    <div class="user-results">
        {{! Items will be placed here}}
    </div>
</div>