<div class="modal-background"></div>
<div class="modal-content">
    <form class="box is-narrow-modal-form">
        <div class="field">
            <label class="label">{{#i18n 'label.username'}}Username{{/i18n}}</label>
            <div class="control">
                <input type=text name=username autofocus required class="input">
            </div>
        </div>
        <div class="field">
            <label class="label">{{#i18n 'label.password'}}Password{{/i18n}}</label>
            <div class="control">
                <input type=password name=password required class="input">
            </div>
            <p class="help is-danger login-failed is-hidden">{{#i18n 'login.failed'}}That didn't work. Please try again.{{/i18n}}</p>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button type=submit class="button is-primary">{{#i18n 'button.login'}}Login{{/i18n}}</button>
            </div>
            <div class="control">
                <button type=reset class="button">{{#i18n 'button.cancel'}}Cancel{{/i18n}}</button>
            </div>
            <div class="control is-vertical-center">
                <p>{{#i18n 'login.no-account'}}Don't have an account?{{/i18n}}<a id="register">{{#i18n 'button.sign-up'}}Sign up!{{/i18n}}</a></p>
            </div>
        </div>
    </form>
</div>
