<div class="panel-header">
    <header>
        <p class="title is-3">Edit Annotation</p>
        <p class="subtitle is-7">(Find more info on what and how to annotate in
            <a class="is-link" href="http://dhstatic.hum.uu.nl/readit/AnnotationGuide.pdf" target="_blank">the
                Annotation Guide</a>)
        </p>
        <label class="checkbox">
            <input type="checkbox" class="verification-checkbox" {{#if needsVerification}} checked {{/if}}>
            Needs verification
        </label>
    </header>
</div>
<form class="anno-edit-form panel-form">
    <div class="panel-content">
        <div class="snippet-container">
            {{! Snippet inserted here }}
        </div>

        <fieldset>
            <div class="field">
                <label for="category-{{cid}}" class="label">Category</label>
                <div class="control ontology-class-picker-container">
                    {{! Ontology class picker is inserted here }}
                </div>
                {{! Fake input to utilize jquery validation on Bulma dropdown}}
                <input class="hidden-input" type="text" id="{{cid}}-contology" required>
                <p class="help is-danger class-unset is-hidden">Choose a category before saving.</p>
            </div>
        </fieldset>

        <fieldset class="item-picker-container is-hidden">
            <div class=" field">
                <label class="label">Which one?</label>
                <div class="field has-addons">
                    <div class="control">
                        {{! Item picker will be inserted here }}
                    </div>
                    <div class="control">
                        <button type=button class="button create-item-button" id="{{cid}}-create-item">
                            Create new
                        </button>
                    </div>
                    <div class="control">
                        <button type=button class="button edit-item-button is-primary" id="{{cid}}-edit-item">
                            Edit
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="item-edit-container is-hidden">
            <div class="field">
                <label class="label">Edit properties</label>
                <div class="item-multifield">
                {{! Item multifield will be inserted here }}
                </div>
                <p class="help is-danger label-unset is-hidden">Choose a preferred label before saving.</p>
                </div>
        </fieldset>

        </div>

    </div>
    <div class="panel-footer">
        <nav class="level is-mobile">
            <div class="level-left">
                <div class="level-item">
                    <button class="button btn-save submit" type=submit>Save</button>
                </div>
                <div class="level-item">
                    <button type=reset class="button btn-cancel is-primary">Cancel</button>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    {{#userIsOwner}}<button type=button class="button is-danger">
                        Delete
                    </button>{{/userIsOwner}}
                </div>
            </div>
        </nav>
    </div>
</form>
