<article class="accordion has-mt-10">
    <div class="accordion-header toggle">
        <p>{{title}}</p>
        <button class="toggleProxy" aria-label="toggle"></button>
    </div>
    <div class="accordion-body">
        <div class="accordion-content">
            {{#each metadata}}
            <b>{{@key}}</b>: {{this}}</p>
            {{/each}}
        </div>
    </div>
</article>
