<div class="field has-addons">
    <div class="control">
        <a class="button is-info"
            href="https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-simple-query-string-query.html#simple-query-string-syntax"
            target="_blank">
            <span
                class="icon is-small tooltip is-tooltip-top"
                data-tooltip="{{#i18n 'tooltip.view-operator-docs'}}View documentation of search operators{{/i18n}}"
            >
                <i class="fas fa-question" aria-hidden="true"></i>
            </span>
        </a>
    </div>
    <div class="control is-expanded">
        <input
            class="input"
            type="text"
            placeholder="{{#i18n 'placeholder.search-database'}}Search our database{{/i18n}}"
        >
    </div>
    <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
            <button type=button class="button dropdown-button" aria-haspopup="true" aria-controls="dropdown-menu">
                <span id="selected-option">{{defaultOption.label}}</span>
                <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
                {{#each fields}}
                <a href="#" class="dropdown-item" value="{{this.value}}">{{this.label}}</a>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="control">
        <a class="button is-info" id="searchbox-button">
            <span class="icon is-small">
                <i class="fa fa-search"></i>
            </span>
        </a>
    </div>
</div>
