<div class="modal is-active is-primary">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <div class="modal-card-head-text">
                <p class="modal-card-title">{{source.attributes.name}}</p>
                <p>{{source.attributes.author.name}}</p>
            </div>
            <button class="delete is-medium" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            {{fragment.text}}
        </section>
        <footer class="modal-card-foot">
            <img src="{{static 'image/dighum-logo.svg'}}"/>
        </footer>
    </div>
</div>