<div class="toolbar-item toolbar-metadata tooltip is-tooltip-left" data-tooltip="{{#i18n 'show-hide-metadata'}}Show / hide the source metadata{{/i18n}}">
    <span class="icon is-large has-text-primary">
        <i class="fas fa-info-circle fa-lg"></i>
    </span>
</div>
<div class="toolbar-item toolbar-annotations tooltip is-tooltip-left" data-tooltip="{{#i18n 'show-hide-annotations'}}Show / hide annotations{{/i18n}}">
    <span class="icon is-large has-text-primary">
        <i class="fas fa-highlighter fa-lg"></i>
    </span>
</div>
