<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="{{static 'image/read-it-logo-med-colour-no-letters.png'}}" alt="Read-It">
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="explore">
                    Explorer
                </a>
                <a class="navbar-item" href="upload">
                    Upload
                </a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        {{#i18n 'greeting'}}Hello, {{username}}!{{/i18n}}
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" id="logout" href="leave">
                            Log out
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
