<div class="control">
    {{! predicate picker }}
</div>
<div class="control">
    {{! object picker }}
</div>
<div class="control">
    <button type=button class="button is-danger">
        Remove
        <i class="delete"></i>
    </button>
</div>
