<div class="panel-header">
    <header>
        <h3 class="title is-3">{{#i18n 'related-items-title'}}Related items{{/i18n}}</h3>
        <h6 class="subtitle is-6">{{#i18n 'for-item-serial'}}For item/{{itemSerial}}{{/i18n}}</h6>
    </header>
</div>
<div class="panel-content relations"></div>
<div class="panel-footer field is-grouped is-grouped-left">
    <div class="control">
        <button
            type="button"
            class="button btn-edit"
        >Edit</button>
    </div>
</div>
