<div class="panel-header">
    <header>
        <h3 class="title is-3">Related items</h3>
    </header>
</div>
<div class="panel-content relations">
    <div class="field rit-add-relation">
        <div class="control has-icons-left">
            <button type=button class="button">Add</button>
            <span class="icon is-left">
                <i class="fas fa-plus"></i>
            </span>
        </div>
    </div>
</div>
<div class="panel-footer field is-grouped is-grouped-right">
    <div class="control">
        <button
            type="submit"
            class="button btn-save submit"
        >Save</button>
    </div>
    <div class="control">
        <button
            type="reset"
            class="button btn-cancel is-primary"
        >Close</button>
    </div>
</div>
