<div class="panel-header">
    <header>
        <h3 class="title is-3">Related items</h3>
    </header>
</div>
<div class="panel-content relations"></div>
<div class="panel-footer field is-grouped is-grouped-left">
    <div class="control">
        <button
            type="button"
            class="button btn-edit"
        >Edit</button>
    </div>
</div>
