<div class="columns is-mobile explorer-content">
    <div class="column is-11 source-content">
        <h3 class="title is-3">Corpus_50_exp_lectures_interligne1.5 (1).pdf</h3>
        <highlightable-text-view></highlightable-text-view>
    </div>
    <div class="column is-1 toolbar">
        <div class="toolbar-item toolbar-metadata">
            <span class="icon is-large has-text-primary tooltip is-tooltip-left"
                data-tooltip="View the source metadata">
                <i class="fas fa-info-circle fa-lg"></i>
            </span>
        </div>
        <div class="toolbar-item toolbar-annotations">
            <span class="icon is-large has-text-primary tooltip is-tooltip-left"
                data-tooltip="Highlight annotations in the text">
                <i class="fas fa-highlighter fa-lg"></i>
            </span>
        </div>
        <div class="toolbar-item toolbar-fullscreen">
            <span class="icon is-large has-text-primary tooltip is-tooltip-left"
                data-tooltip="View the source in full screen mode">
                <i class="fas fa-compress fa-lg"></i>
            </span>
        </div>
    </div>
</div>
