<div class="panel-header">
    <button type=button class="button btn-close"><i class="fas fa-times"></i></button>
    <header>
        <h1 class="title is-3">{{#i18n 'source.metadata-title'}}Source metadata{{/i18n}}</h3>
    </header>
</div>
<div class="panel-content">
    <section class="item-sections">
        <article class="item-section">
            <div class="item-section-header">
                <p>{{#i18n 'label.properties'}}Properties{{/i18n}}</p>
            </div>
            <table class="table is-bordered">
                <thead>
                    <tr>
                        <th>{{#i18n 'label.name'}}Name{{/i18n}}</th>
                        <th>{{#i18n 'label.value'}}Value{{/i18n}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each properties}}
                    <tr>
                        <td>{{@key}}</td>
                        <td>{{this}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </article>
    </section>

</div>
<div class="panel-footer buttons is-right">{{#userIsOwner}}
    <button type=button class="button btn-delete is-danger">{{#i18n 'button.delete-source'}}Delete source{{/i18n}}</button>
    <button type=reset class="button btn-cancel">{{#i18n 'button.cancel'}}Cancel{{/i18n}}</button>
    <button type=button class="button btn-edit">{{#i18n 'button.edit'}}Edit{{/i18n}}</button>
{{/userIsOwner}}</div>
