<div class="panel-header">
    <h4 class="title is-4">Source {{identifier}}, created by {{creator}} at {{dateUploaded}}</h4>
</div>
<div class="panel-content">
    <!-- source-metadata will be rendered here-->
</div>
<div class="panel-footer buttons is-right">{{#userIsOwner}}
    <button type=button class="button btn-delete is-danger edit-mode">Delete source</button>
    <button type=button class="button btn-save edit-mode">Save changes</button>
    <button type=reset class="button btn-cancel edit-mode">Cancel</button>
    <button type=button class="button btn-edit">Edit</button>
{{/userIsOwner}}</div>
