<div class="columns is-mobile explorer-content">
    <div class="column is-10 source-content">
        <div class='source-container'>
            <h3 class="title is-3">{{title}}</h3>
            <highlightable-text-view></highlightable-text-view>
        </div>
    </div>
    <div class="column is-2 toolbar">
        <div class="toolbar-item toolbar-metadata tooltip is-tooltip-left" data-tooltip="Show / hide the source metadata">
            <span class="icon is-large has-text-primary">
                <i class="fas fa-info-circle fa-lg"></i>
            </span>
        </div>
        <div class="toolbar-item toolbar-annotations tooltip is-tooltip-left" data-tooltip="Show / hide annotations">
            <span class="icon is-large has-text-primary">
                <i class="fas fa-highlighter fa-lg"></i>
            </span>
        </div>
        <div class="toolbar-item toolbar-viewmode tooltip is-tooltip-left"
            data-tooltip="Toggle the view mode (full screen / as panel)">
            <span class="icon is-large has-text-primary">
                <i class="fas fa-compress fa-lg"></i>
            </span>
        </div>
    </div>
</div>
