<div class="columns is-mobile panel-content">
    <div class="column is-10 source-content">
        <div class='source-container'>
            <div class="panel-header">
                <header>
                    <h3 class="title is-3">{{title}}</h3>
                </header>
            </div>
            <highlightable-text-view></highlightable-text-view>
        </div>
    </div>
    <div class="column is-2">
        <source-toolbar></source-toolbar>
    </div>
</div>
