<div class="panel-header">
    <h4 class="title is-4">{{#i18n 'source.meta-summary'}}Source {{identifier}}, created by {{creator}} at {{dateUploaded}}{{/i18n}}</h4>
</div>
<div class="panel-content">
    <!-- source-metadata will be rendered here-->
</div>
<div class="panel-footer buttons is-right">{{#userIsOwner}}
    <button type=button class="button btn-delete is-danger edit-mode">{{#i18n 'button.delete-source'}}Delete source{{/i18n}}</button>
    <button type="submit" class="button btn-save edit-mode">{{#i18n 'button.save-changes'}}Save changes{{/i18n}}</button>
    <button type=reset class="button btn-cancel edit-mode">{{#i18n 'button.cancel'}}Cancel{{/i18n}}</button>
    <button type=button class="button btn-edit">{{#i18n 'button.edit'}}Edit{{/i18n}}</button>
{{/userIsOwner}}</div>
